.numbtn {
    -fx-background-color: rgba(242, 184, 102, 0.5); /* Red with 50% transparency */
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.numbtn:hover {
    -fx-background-color: rgba(38, 107, 30, 0.5); /* Red with 50% transparency */
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.numbtn:pressed {
    -fx-background-color: rgba(13, 84, 145, 0.5); /* Red with 50% transparency */
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.resPane {
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
    
}
